:root {
  --color-blue: blue;
  --font-regular-size: 1rem;
  --font-large-size: 1.8rem;

  --white-0: #fff;

  --gray-200: #f2f2fa;
  --gray-950: #333;
}

html,
body {
  background: var(--gray-200);
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
