:root {
  --color-blue: blue;
  --font-regular-size: 1rem;
  --font-large-size: 1.8rem;

  --white-0: #fff;

  --light-gray: #f9f8f4;
  --color-primary-700: #626262;
  --gray-200: #f2f2fa;
  --gray-950: #333;
  --red-alert: #d0342c;
}

html,
body {
  background: var(--gray-200);
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.custom-container {
  max-width: 1100px;
  margin: 0 auto;
}

.container-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
